{
  "presets": ["react-native-stage-0/decorator-support"],
  "plugins" : [
    [
      "module-resolver",
      {
        "alias": {
          "app": "./app",
          "screens": "./app/screens",
          "components": "./app/components",
          "utils": "./app/utils"
        }
      }
    ]
  ]
}