{
  "extends": [ "semistandard" ],
  "plugins": [ "react", "react-native", "no-unused-vars-rest" ],
  "parser": "babel-eslint",
  "rules": {
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error",
    "no-unused-vars": 0,
    "no-unused-vars-rest/no-unused-vars": [2, { "ignoreDestructuredVarsWithRest": true, "args": "none" }]
  },
  "env": {
    "browser": true
  }
}